@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Josefin Sans;
    font-size: 16px;
    background-color: white;
    margin-top: 50px;
    display: flex;
   
}
h1 {
    padding-top: 70px;
    padding-left:70px;
    letter-spacing: 10px;
    padding-bottom: 15px;
}
span {
    color: #D5A6A7;
}
.all {
    display: flex;
    margin: 0 auto;
}
.head {
   background-image: url(./images/bg-pattern-desktop.svg);
   background-color: #FFF7F8;
   padding-right: 50px;
}
.head figure {
    padding-left: 10vh;
    padding-top: 10vh;
}
p {
    padding: 10px;
    padding-left: 70px;
    padding-bottom: 30px;
    line-height: 25px;
    color: #D5A6A7;
}
.form {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: transparent;
    padding-left: 30px;
    padding-right: 30px;
}
form {
    padding-left: 70px;
    padding-top: 10px;
}
button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #F5A0A3;
}

@media screen and (max-width:767px) {
    .all {
        display: flex;
        flex-direction: column;
    }
    body {
        font-size: 1.5vh;
    }
    .pics figure {
        width: 5vw;
        height: 5vh;
    }
}